/* Tiny Carousel */
#slider-accessories {
	height: 223px;
	width: 88%;
	overflow:hidden;
	margin: 0 auto;
	/*margin-top:2%;*/
	padding: 0;
	clear: both;
}
#slider-accessories .viewport {
	float: left;
	margin-left: 0.5%;
	width: 698px;
	height: 100%;
	overflow: hidden;
	position: relative;
}
#slider-accessories .buttons {
    display: block;
    margin: 20px 0px 0 0;
    float: left;
	width:45px;
	height:50px;
    position: relative;
	top: 25%;
    text-decoration: none;
}
#slider-accessories .buttons {
	-webkit-transition:0s !important;
	-moz-transition:0s !important;
	-o-transition:0s !important;
	transition:0s !important;
}
#slider-accessories .buttons.next{
	background:url(../img/png/arrow.png) -52px 0;
}
#slider-accessories .buttons.prev{
	background:url(../img/png/arrow.png) 0px 0;
}

#slider-accessories .buttons.next:hover{
	background:url(../img/png/arrow.png) -52px 52px;
}
#slider-accessories .buttons.prev:hover{
	background:url(../img/png/arrow.png) -0px 52px;
}
#slider-accessories .disable { visibility: hidden; }
#slider-accessories .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 170px; left: 0 top: 0; }
#slider-accessories .overview li{ float: left; margin: 0 16.5px 0 0; padding: 1px; height: 90px; border: 1px solid #dcdcdc; width: 130px;}
#slider-accessories .overview li img{
	width:130px;
	height:90px;
}